.mediaViewInfo {
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920___3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920___3 {
	position: absolute;
	width: 2300px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920___3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_6 {
	position: absolute;
	width: 1920px;
	height: 106px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: auto;
	height: 106px;
	left: 0px;
	top: 0px;
}

a:link, a:visited{
	position: absolute;
	left: 2000px;
	top: 30px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: white;
	text-decoration: none;	
}
a:hover{
	background-color: rgba(255,144,0,1);
	border-radius: 25px;
	width: 150px;
	height: 50px;
}