.mediaViewInfo {
	--web-view-name: Web 19;
	--web-view-id: Web_19;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_19;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_19 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background: linear-gradient(180deg, rgba(0,140,237,1) 0%, rgba(0,74,125,1) 100%, rgba(0,70,119,1) 100%);
	overflow: hidden;
	--web-view-name: Web 19;
	--web-view-id: Web_19;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 635px;
	height: 542px;
	left: 643px;
	top: 269px;
}
#LOGIN {
	position: absolute;
	left: 886px;
	top: 296px;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
#OMEGA_RATIO {
	position: absolute;
	left: 22px;
	top: 27px;
	overflow: visible;
	width: 432px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	color: rgba(255,255,255,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 527px;
	height: 3px;
	left: 697.5px;
	top: 471.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 527px;
	height: 3px;
	left: 696.5px;
	top: 580.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Username {
	position: absolute;
	left: 698px;
	top: 425px;
	overflow: visible;
	width:527px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Password {
	position: absolute;
	left: 698px;
	top: 534px;
	overflow: visible;
	width: 527px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#ENTER {
	position: absolute;
	overflow: visible;
	width: 268px;
	height: 67px;
	left: 826px;
	top: 643px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
	background-color: rgba(0,135,229,1);
	border-radius: 25px;
}
